{% load i18n multiuploader static  %}

<script type="text/javascript">
    window.multiuploader = {
        form_selector: '{{form_selector}}',
        target_form_fieldname: '{{target_form_fieldname}}',
        target_form_fieldname: '{{ target_form_fieldname }}',
        multiuploader_form_options: {{ multiuploader_form.options|safe }},
        url: "{% url 'multiuploader' %}",
        number_files_attached: {{ number_files_attached|default:"0" }},
        lock_while_uploading: {% if lock_while_uploading %}true{% else %}false{% endif %},
        translation: {
            "Start": "{% trans "Start" %}",
            "Stop": "{% trans "Stop" %}",
            "Delete": "{% trans "Delete" %}",
            "Cancel": "{% trans "Cancel" %}",
            "Error": "{% trans "Error" %}",
            "File is too big": "A imagem é muito grande.",
            "File is too small": "A imagem é muito pequena",
            "Filetype not allowed": "O arquivo que você enviou não é uma imagem, ou não conhecemos o formato em que você enviou.",
            "Max number of files exceeded": "Você tentou enviar mais imagens do que o sistema permite.",
            "File exceeds upload_max_filesize": "A imagem enviada ultrapassou o limite de upload.",
            "File exceeds MAX_FILE_SIZE (HTML form directive)": "A imagem ultrapassa o tamanho máximo de MAX_FILE_SIZE.",
            "File is too small": "A imagem é muito pequena.",
            "File was only partially uploaded": "Só uma parte da imagem foi enviada.",
            "No File was uploaded": "Nenhuma imagem foi enviada.",
            "Missing a temporary folder": "Não encontramos uma pasta temporária para salvar suas imagens.",
            "Failed to write file to disk": "Falha ao tentar salvar sua imagem no disco.",
            "File upload stopped by extension": "Envio de imagens foi interrompido por uma extensão de seu navegador.",
            "Empty file upload result": "A imagem que você tentou enviar está vazia."
        }
    };
</script>

<div id="{{ wrapper_element_id }}">
	{% block widget %}
	{% form_type type %}
    <meta charset="utf-8">

    <div id="{{ target_form_fieldname }}" style="display:none;">
        <div class="fileupload-buttonbar">
            <label class="fileinput-button">
            <span>{% trans "Append files" %}</span>
                <!--<input id="id_file" type="file" name="file" multiple>-->
                {{ multiuploader_form.file }}
            </label>
        <button type="button" class="delete">{% trans "Delete files" %}</button>
    </div>

    <div class="fileupload-content">
    <table class="files"></table>
        <div class="fileupload-progressbar"></div>
            <div id="help">
                <p>{% trans "You can choose multiple files at once, by holding Ctrl or Cmd (on Mac) button, or just Drag'n'drop files here."%}</p>
       		</div>
       </div>
    </div>

	{% verbatim %}
	<script id="template-upload" type="text/x-jquery-tmpl">
        <tr class="template-upload{{if error}} ui-state-error{{/if}}">
            <td class="preview"></td>
            <td class="name">${name}</td>
            <td class="size">${sizef}</td>
            {{if error}}
            <td class="error" colspan="2">${multiuploader.translation["Error"]}:
                {{if error === 'maxFileSize'}}${multiuploader.translation["File is too big"]}
                {{else error === 'minFileSize'}}${multiuploader.translation["File is too small"]}
                {{else error === 'acceptFileTypes'}}${multiuploader.translation["Filetype not allowed"]}
                {{else error === 'maxNumberOfFiles'}}${multiuploader.translation["Max number of files exceeded"]}
                {{else}}
                ${error}
                {{/if}}
            </td>
            {{else}}
            <td class="progress"><div></div></td>
            <td class="start"><button>${multiuploader.translation["Start"]}</button></td>
            {{/if}}
            <td class="cancel"><button>${multiuploader.translation["Cancel"]}</button></td>
        </tr>
    </script>

	<script id="template-download" type="text/x-jquery-tmpl">
        <tr class="template-download{{if error}} ui-state-error{{/if}}">
            {{if error}}
            <td></td>
            <td class="name">${name}</td>
            <td class="size">${sizef}</td>
            <td class="error" colspan="2">${multiuploader.translation["Error"]}:
                {{if error === 1}}${multiuploader.translation["File exceeds upload_max_filesize"]}
                {{else error === 2}}${multiuploader.translation["File exceeds MAX_FILE_SIZE (HTML form directive)"]}
                {{else error === 3}}${multiuploader.translation["File was only partially uploaded"]}
                {{else error === 4}}${multiuploader.translation["No File was uploaded"]}
                {{else error === 5}}${multiuploader.translation["Missing a temporary folder"]}
                {{else error === 6}}${multiuploader.translation["Failed to write file to disk"]}
                {{else error === 7}}${multiuploader.translation["File upload stopped by extension"]}
                {{else error === 'maxFileSize'}}${multiuploader.translation["File is too big"]}
                {{else error === 'minFileSize'}}${multiuploader.translation["File is too small"]}
                {{else error === 'acceptFileTypes'}}${multiuploader.translation["Filetype not allowed"]}
                {{else error === 'maxNumberOfFiles'}}${multiuploader.translation["Max number of files exceeded"]}
                {{else error === 'uploadedBytes'}}${multiuploader.translation["Uploaded bytes exceed file size"]}
                {{else error === 'emptyResult'}}${multiuploader.translation["Empty file upload result"]}
                {{else}}${error}
                {{/if}}
            </td>
            {{else}}
            <td class="preview">
                {{if thumbnail_url}}
                <a href="${url}"><img src="${thumbnail_url}"></a>
                {{/if}}
            </td>
            <td class="name">
                <a id="${id}" class="filelink" href="${url}">${name}</a>
            </td>
            <td class="size">${sizef}</td>
            <td colspan="2"></td>
            {{/if}}
            <td class="delete">
                <button data-type="${delete_type}" data-url="${delete_url}">${multiuploader.translation["Delete"]}</button>
            </td>
        </tr>
    </script>
	{% endverbatim %}
    {% endblock %}
</div>
