{% load i18n multiuploader static  %}

<script type="text/javascript">
    window.multiuploader = {
        csrftoken: '{{csrf_token}}',
        multiuploader_form_options: {{ multiuploader_form.options|safe }},
        url: "{% url 'multiuploader' %}",
        number_files_attached: {{ number_files_attached|default:"0" }},
        target_form_fieldname: '{{target_form_fieldname}}',
        url_get: "{% url 'multi_get_files' target_form_fieldname %}",
        translation: {
            "Start": "{% trans "Start" %}",
            "Stop": "{% trans "Stop" %}",
            "Delete": "{% trans "Delete" %}",
            "Cancel": "{% trans "Cancel" %}",
            "Error": "{% trans "Error" %}",
            "Processing": "{% trans "Processing..." %}",
            "File is too big": "{% trans "File is too big" %}",
            "File is too small": "{% trans "File is too small" %}",
            "Filetype not allowed": "{% trans "Filetype not allowed" %}",
            "Max number of files exceeded": "{% trans "Max number of files exceeded" %}",
            "File exceeds upload_max_filesize": "{% trans "File exceeds maximum upload limit" %}",
            "File exceeds MAX_FILE_SIZE (HTML form directive)": "{% trans "File exceeds maximum size of upload" %}",
            "File is too small": "{% trans "File is too small" %}",
            "File was only partially uploaded": "{% trans "File was only partially uploaded" %}",
            "No File was uploaded": "{% trans "No File was uploaded" %}",
            "Missing a temporary folder": "{% trans "Missing a temporary folder" %}",
            "Failed to write file to disk": "{% trans "Failed to write file to disk" %}",
            "File upload stopped by extension": "{% trans "File upload stopped by extension" %}",
            "Empty file upload result": "{% trans "Empty file upload result" %}"
        }
    };
</script>

<!-- Redirect browsers with JavaScript disabled to the origin page -->
<form id="fileupload" action="{% url 'multiuploader' %}" method="POST" enctype="multipart/form-data">
    {% include 'multiuploader/noscript.html' %}
    {% form_type type %}
    {% csrf_token %}
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
        <div class="col-lg-7">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>{% trans "Add files..." %}</span>
                {{ multiuploader_form.file }}
            </span>
            <button type="submit" class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>{% trans "Start upload" %}</span>
            </button>
            <button type="reset" class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>{% trans "Cancel upload" %}</span>
            </button>
            <button type="button" class="btn btn-danger delete">
                <i class="glyphicon glyphicon-trash"></i>
                <span>{% trans "Delete" %}</span>
            </button>
            <input type="checkbox" class="toggle">
            <!-- The global file processing state -->
            <span class="fileupload-process"></span>
        </div>
        <!-- The global progress state -->
        <div class="col-lg-5 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-info" style="width:0%;"></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="fileupload-content table table-striped"><tbody class="files"></tbody></table>

    {% verbatim %}
    <script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <span class="preview"></span>
            </td>
            <td>
                <p class="name">{%=file.name%}</p>
                <strong class="error text-danger"></strong>
            </td>
            <td>
                <p class="size">{%=multiuploader.translation["Processing"]%}</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-info" style="width:0%;"></div></div>
            </td>
            <td>
                {% if (!i && !o.options.autoUpload) { %}
                    <button class="btn btn-primary start" disabled>
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>{%=multiuploader.translation["Start"]%}</span>
                    </button>
                {% } %}
                {% if (!i) { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>{%=multiuploader.translation["Cancel"]%}</span>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                </span>
            </td>
            <td>
                <p class="name">
                    {% if (file.url) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                    {% } else { %}
                        <span>{%=file.name%}</span>
                    {% } %}
                    <input type="hidden" value="{%=file.id%}" class="id" />
                </p>
                {% if (file.error) { %}
                    <div><span class="label label-danger">{%=multiuploader.translation["Error"]%}</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
                {% if (file.deleteUrl) { %}
                    <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>{%=multiuploader.translation["Delete"]%}</span>
                    </button>
                    <input type="checkbox" name="delete" value="1" class="toggle">
                {% } else { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>{%=multiuploader.translation["Cancel"]%}</span>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}
    </script>
    {% endverbatim %}

    {{multiuploader_form.media.css}}
    {{multiuploader_form.media.js}}
</form>
